@model List<rlhTest.Models.DataModel.package_master>
<!-- Home page: Index view Element -->
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_home.cshtml";
}
<script>
    function dataStore()
    {
        var array = @Html.Raw(Json.Encode(
                   ((IEnumerable<rlhTest.Models.DataModel.package_master>)ViewBag.data).Select(dataS => new {
                   Booking_Enabled_Flag = dataS.Booking_Enabled_Flag,
                   Creation_Date = dataS.Creation_Date,
                   Customization_Allowed_Flag = dataS.Customization_Allowed_Flag,
                   C_PM_id = dataS.C_PM_id,
                   No_of_Days = dataS.No_of_Days,
                   Package_Description = dataS.Package_Description,
                   Package_Name = dataS.Package_Name,
                   Package_Price = dataS.Package_Price,
                   Booking_Count = dataS.Booking_Count


               })));
        

        window.localStorage.setItem("data", JSON.stringify(array));
        alert("Yes!" + array);
      

    }
    window.onload = dataStore();
</script>


<div class="container-fluid border" style="">
    <center>
        <h1>
            Hot Deals
        </h1>
        <h4>
            Grab them before you miss out! The standard chunk of Lorem Ipsum used <br>since the 1500s is reproduced below for those interested.
        </h4>
    </center>

    <div class="container-fluid border" style="padding-bottom: 1.5rem">
        <div id="demo" class="carousel slide" data-ride="carousel">
            <ul class="carousel-indicators " style="bottom: -2rem">
                @{
                    var val1 = 0;
                    var count1 = Model.Count();
                    var listC1 = decimal.Ceiling(count1 / 3);
                    for (int i = 0; i < listC1; i++)
                    {
                        <li data-target="#demo" data-slide-to=i></li>
                    }

                }
            </ul>
            <div class="carousel-inner">
                 @{
                    var val = 0;
                    var count = Model.Count();
                    var listC = decimal.Ceiling(count / 3);
                    for (int i = 0; i < listC; i++)
                    {

                        if (i == 0)
                        {
                            <div class="carousel-item active">

                                <div class="row ad-pad-trbl">
                                    @{

                                        for (; val < Model.Count() && val < (3 * (i + 1)); val++)
                                        {
                                            @Html.Partial("packViewIndex", Model.ElementAt(val))

                                        }

                                    }
                                </div>

                            </div>
                        }
                        else
                        {
                            <div class="carousel-item ">

                                <div class="row ad-pad-trbl">
                                    @{

                                        for (; val < Model.Count() && val < (3 * (i + 1)); val++)
                                        {
                                            @Html.Partial("packViewIndex", Model.ElementAt(val))

                                        }

                                    }
                                </div>

                            </div>


                        }

                    }

                }
               
            </div>
                    <a class="carousel-control-prev" href="#demo" data-slide="prev">
                        <span class="carousel-control-prev-icon"></span>
                    </a>

                    <a class="carousel-control-next" href="#demo" data-slide="next">
                        <span class="carousel-control-next-icon"></span>
                    </a>
        </div>
    </div>
</div>

<div class="container border" style="">
    <center>
        <h1>
            Why Choose Us?
        </h1>
        <h4>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.<br>
            Lorem Ipsum has been the industry's standard dummy text ever
        </h4>
    </center>
    <div class="row">
        <div class="col-sm-4">
            <div class="card">
                <img class="card-img-top" src="http://placehold.it/350x260" alt="Card image" style="width:100%">
                <div class="card-body">
                    <p class="card-text text-center">Some example text some example text. John Doe is an architect and engineer</p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <img class="card-img-top" src="http://placehold.it/350x260" alt="Card image" style="width:100%">
                <div class="card-body">
                    <p class="card-text text-center">Some example text some example text. John Doe is an architect and engineer</p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <img class="card-img-top" src="http://placehold.it/350x260" alt="Card image" style="width:100%">
                <div class="card-body">
                    <p class="card-text text-center">Some example text some example text. John Doe is an architect and engineer</p>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container border" style="">
    <center>
        <h1>
            Experience Life with Us.
        </h1>
        <h4>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.<br>
            Lorem Ipsum has been the industry's standard dummy text ever
        </h4>
    </center>

    <div class="container">
        <div class="row">
            <div class="col-sm-6 border" onclick="location.href='@Url.Action("PackagesByKey", "Home")?str=rlh_offer'">
                <img src="http://placehold.it/350x260" width="100%" height="100%" style="padding: 10px">
                <div class="text-top-left" style="  ">SAMPLE TEXT</div>
            </div>
            <div class="col-sm-6 border" onclick="location.href='@Url.Action("PackagesByKey", "Home")?str=rlh_diva'" >
                <img src="http://placehold.it/350x260" width="100%" height="100%" style="padding: 10px">
                <div class="text-top-left" style="  ">SAMPLE TEXT</div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 border" onclick="location.href='@Url.Action("PackagesByKey", "Home")?str=rlh_safari'" >
                <img src="http://placehold.it/350x260" width="100%" height="100%" style="padding: 10px">
                <div class="text-top-left" style="  ">SAMPLE TEXT</div>
            </div>
            <div class="col-sm-4 border" onclick="location.href='@Url.Action("PackagesByKey", "Home")?str=rlh_family'">
                <img src="http://placehold.it/350x260" width="100%" height="100%" style="padding: 10px">
                <div class="text-top-left" style="  ">SAMPLE TEXT</div>
            </div>
            <div class="col-sm-4 border" onclick="location.href='@Url.Action("PackagesByKey", "Home")?str=rlh_adventure'">
                <img src="http://placehold.it/350x260" width="100%" height="100%" style="padding: 10px">
                <div class="text-top-left" style="  ">SAMPLE TEXT</div>
            </div>
        </div>
    </div>
</div>


<div class="container-fluid border" style="padding: 0">
    <center>
        <h1>
            Our Happy RedLetterers!
        </h1>
        <h4>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.<br>
            Lorem Ipsum has been the industry's standard dummy text ever
        </h4>
    </center>

    <div id="demo1" class="carousel slide border" data-ride="carousel">

        <ul class="carousel-indicators ">
            <li data-target="#demo1" data-slide-to="0" class="active"></li>
            <li data-target="#demo1" data-slide-to="1"></li>
            <li data-target="#demo1" data-slide-to="2"></li>
        </ul>

        <div class="carousel-inner" style="height: 31rem">
            <div class="carousel-item active">
                <div class="row">
                    <div class="col-sm-6 border" style="padding-right: 0">
                        <img src="http://placehold.it/350x260" class="img-fluid" style="min-width: 100%; min-height: 100% ">
                    </div>
                    <div class="col-sm-6 border" style="padding: 8rem">
                        <div class="container border">
                            <div class="row ">
                                <div class="rating " style="padding-left: 1rem">
                                    <input type="radio" id="star10" name="rating" value="10" /><label for="star10" title="Rocks!">5 stars</label>
                                    <input type="radio" id="star9" name="rating" value="9" /><label for="star9" title="Rocks!">4 stars</label>
                                    <input type="radio" id="star8" name="rating" value="8" /><label for="star8" title="Pretty good">3 stars</label>
                                    <input type="radio" id="star7" name="rating" value="7" /><label for="star7" title="Pretty good">2 stars</label>
                                    <input type="radio" id="star6" name="rating" value="6" /><label for="star6" title="Meh">1 star</label>
                                </div>
                            </div>
                            <blockquote class="blockquote">
                                <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim </h3>
                                <footer class="blockquote-footer text-right">From WWF's website</footer>
                            </blockquote>
                        </div>
                    </div>
                </div>
            </div>

            <div class="carousel-item">
                <div class="row">
                    <div class="col-sm-6 border" style="padding-right: 0">
                        <img src="http://placehold.it/350x260" class="img-fluid" style="min-width: 100%; min-height: 100% ">
                    </div>
                    <div class="col-sm-6 border" style="padding: 8rem">
                        <div class="container border">
                            <div class="row ">
                                <div class="rating " style="padding-left: 1rem">
                                    <input type="radio" id="star10" name="rating" value="10" /><label for="star10" title="Rocks!">5 stars</label>
                                    <input type="radio" id="star9" name="rating" value="9" /><label for="star9" title="Rocks!">4 stars</label>
                                    <input type="radio" id="star8" name="rating" value="8" /><label for="star8" title="Pretty good">3 stars</label>
                                    <input type="radio" id="star7" name="rating" value="7" /><label for="star7" title="Pretty good">2 stars</label>
                                    <input type="radio" id="star6" name="rating" value="6" /><label for="star6" title="Meh">1 star</label>
                                </div>
                            </div>
                            <blockquote class="blockquote">
                                <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim </h3>
                                <footer class="blockquote-footer text-right">From WWF's website</footer>
                            </blockquote>
                        </div>
                    </div>
                </div>
            </div>

            <div class="carousel-item">
                <div class="row">
                    <div class="col-sm-6 border" style="padding-right: 0">
                        <img src="http://placehold.it/350x260" class="img-fluid" style="min-width: 100%; min-height: 100% ">
                    </div>
                    <div class="col-sm-6 border" style="padding: 8rem">
                        <div class="container border">
                            <div class="row ">
                                <div class="rating " style="padding-left: 1rem">
                                    <input type="radio" id="star10" name="rating" value="10" /><label for="star10" title="Rocks!">5 stars</label>
                                    <input type="radio" id="star9" name="rating" value="9" /><label for="star9" title="Rocks!">4 stars</label>
                                    <input type="radio" id="star8" name="rating" value="8" /><label for="star8" title="Pretty good">3 stars</label>
                                    <input type="radio" id="star7" name="rating" value="7" /><label for="star7" title="Pretty good">2 stars</label>
                                    <input type="radio" id="star6" name="rating" value="6" /><label for="star6" title="Meh">1 star</label>
                                </div>
                            </div>
                            <blockquote class="blockquote">
                                <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim </h3>
                                <footer class="blockquote-footer text-right">From WWF's website</footer>
                            </blockquote>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <a class="carousel-control-prev" href="#demo1" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#demo1" data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>
    </div>

</div>







