@model List<rlhTest.Models.DataModel.package_master>
<!--Package list view filtered by Keyword-->
@{
    ViewBag.Title = "PackagesByKey";
    Layout = "~/Views/Shared/_home.cshtml";
}
<div class="container text-center mt-5 mb-5">
    <h5>
        Let's find out who's planning as a
    </h5>
    <h3>
        <b>
            I am travelling as a..
        </b>
    </h3>

    <div class="row">
        <div class="col-sm-3">
            <div class="card" style="width:" onclick="location.href='@Url.Action("PackCount","Home", new {person = 1 })'">
                <img class="card-img-top" src="http://placehold.it/350x260" alt="Card image" style="width:100%">
                <div class="card-body">
                    <h4 class="card-title text-center">SOLO</h4>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card" style="width:" onclick="location.href='@Url.Action("PackCount","Home", new {person = 2})'">
                <img class="card-img-top" src="http://placehold.it/350x260" alt="Card image" style="width:100%">
                <div class="card-body">
                    <h4 class="card-title text-center">COUPLE</h4>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card" style="width:" onclick="location.href='@Url.Action("PackCont","Home", new {person = 5 })'">
                <img class="card-img-top" src="http://placehold.it/350x260" alt="Card image" style="width:100%">
                <div class="card-body">
                    <h4 class="card-title text-center">FAMILY</h4>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card" style="width:" onclick="location.href='@Url.Action("PackCont","Home", new {person = 8 })'">
                <img class="card-img-top" src="http://placehold.it/350x260" alt="Card image" style="width:100%">
                <div class="card-body">
                    <h4 class="card-title text-center">GROUP</h4>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container border">
    <div class="container text-center border">
        <h2>
            Search Results for You
        </h2>
    </div>
    <div class="row" style="padding: 1rem">
        <div class="col-sm-3">
            Plan Your Tour Date :
        </div>
        <div class="col-sm-6">
            <!-- 				<div class="input-group">
                                <input type="text" class="form-control form-control-sm" placeholder="Search" style="border-right: none">
                                <div class="input-group-append">
                                    <button class="btn btn-secondary btn-sm" type="button" style="background-color: transparent; border: 1px solid #CED4DA; border-left: none;">
                                        <img src="assets\style\img\search.png" style="height: 0.8rem; width: 0.8rem">
                                    </button>
                                </div>
                            </div>	 -->
            <div class="row">
                <div class="col-sm-1">
                    From
                </div>
                <div class="col-sm-5">
                    <input type="date" class="form-control form-control-sm clearfix" id="pwd" placeholder="Enter Date" name="date">
                </div>
                <div class="col-sm-1">
                    To
                </div>
                <div class="col-sm-5">
                    <input type="date" class="form-control form-control-sm clearfix" id="pwd" placeholder="Enter Date" name="date">
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <select class="form-control form-control-sm ">
                <option>Sort by: Recommended</option>
                <option>OPTION 2</option>
                <option>OPTION 3</option>
                <option>OPTION 4</option>
                <option>OPTION 5</option>
            </select>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-4 " style="padding: 0; border-top: 0.1rem solid #DEE2E6; ">
            @Html.Partial("keyFilterView", (rlhTest.Models.HelperModel.Filters)ViewBag.extra)
        </div>
        <div class="col-sm-8 border">
            <div class="row mt-3 mb-3" style="overflow:auto;">

                @for (int i = 1; i <= Model.Count(); i += 2)
                {
                    <div class="col-sm-6">
                        @Html.Partial("packageView", Model.ElementAt(i - 1))
                    </div>
                    if (i < Model.Count)
                    {
                        <div class="col-sm-6">
                            @Html.Partial("packageView", Model.ElementAt(i))
                        </div>

                    }

                }
            </div>
        </div>
    </div>
</div>


