<!DOCTYPE html>
<html>

<head>
    <title>Index | RLH</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="~/css/layout.css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script>
        function func(str)
        {
         alert("Your query is dilver,Mr/Mrs"+str);
        }
    </script>
</head>

<body>





    <!-- NAVBAR STARTS HERE  -->
    <div class="container-fluid border" style="height: 40em; ">
        <nav class="navbar navbar-expand-lg navbar-light border" style=" ">
            <a class="navbar-brand" href="#">
                <img src="https://via.placeholder.com/300.png/09f/fff" width="35" height="35" alt="">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav mr-auto"></ul>
                <span class="navbar-text">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link " href="#">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">About Us</a>
                        </li>
                        <li class="nav-item">

                            @Html.ActionLink("Packages", "AllPackages", "Home", null, new { @class = "nav-link" })

                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" data-toggle="modal" data-target="#raise-query">Raise A Query</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Contact Us</a>
                        </li>
                        <li class="nav-item">
                            <button class="btn btn-outline-success my-2 my-sm-0" type="submit" data-toggle="signup" >Sign Up</button>
                        </li>
                    </ul>
                </span>
            </div>
        </nav>

        <div class="container border" style="margin-top: 12em">
            <h1>This is an Intriguing header</h1>
            <h3>Add some more text to highlight your offer.</h3>
            <form autocomplete="off" action="#" id="all">
                <div class="form-group autocomplete">
                    <input id="allAuto" type="text" class="form-control" name="myCountry" placeholder="Enter Country">
                    <input type="button" onclick="location.href='@Url.Action("PackagesByDest","Home")?str='+ document.getElementById('allAuto').value">
                  </div>
            </form>
        </div>


    </div>

    <!-- NAVBAR ENDS HERE  -->


    <!-- The Modal Raise Query-->

    <div class="modal fade" id="raise-query">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">
                        Raise A Query
                    </h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <!-- Modal body -->
                <div class="modal-body">
                    @using (Html.BeginForm("QueryRaise", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
                            { 
                            <div class="form-group">
                                <input type="text" class="form-control" id="name" placeholder="Enter Your Name Here" name="Client_Name">

                            </div>
                            <div class="form-group">
                                <input type="number" class="form-control" id="persons" placeholder="Enter Number of Persons Here" name="No_Of_Persons">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" id="dest" placeholder="Enter Destination Here" name="Destination">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" id="budget" placeholder="Enter Budget Here" name="Budget">
                            </div>
                            <div class="form-group">
                                <input type="date" class="form-control" id="date" placeholder="Enter Date" name="Create_Date">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" id="email" placeholder="Enter Email Id Here" name="Email_id">
                            </div>

                            <div class="form-group">
                                <input type="tel" class="form-control" id="phone" placeholder="Enter Mobile No. Here" name="Moblie">
                            </div>

                             <div class="text-center">
                                <button type="submit" class="btn btn-primary" onclick="func(document.getElementById('name').value)">Submit</button>
                             </div>
                     }


                </div>
            </div>
        </div>
    </div>









    <!-- The Modal for Sign Up -->
    <div class="modal fade" id="signup">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Modal Header Sign Up-->
                <div class="modal-header">
                    <h4 class="modal-title">
                        Sign Up
                    </h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <!-- Modal body Sign up -->
                <div class="modal-body">
                    <form action="">
                        <div class="form-group">
                            <input type="text" class="form-control" id="name" placeholder="Enter Your Name Here" name="email">
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control" id="email" placeholder="Enter Email Address Here" name="email">
                        </div>
                        <div class="form-group">
                            <input type="number" class="form-control" id="phone" placeholder="Enter Phone Number Here" name="phone">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" id="pwd" placeholder="Enter Password Here" name="pswd">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="city" placeholder="Current City" name="city">
                        </div>
                        <div class="form-group form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" name="remember"> By checking this box I agree to Red Letter Holiday Pvt. Ltd's Terms and Conditions
                            </label>
                        </div>
                        <div class="text-center">

                            <button type="submit" class="btn btn-primary" onclick="submit()">Submit</button>
                            <div>
                                Already a Member?<a href="#"> Sign In</a>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- Modal footer -->

            </div>
        </div>
    </div>
    <!--The Modal for Sign Up-->


    <div>
        @RenderBody()
    </div>
    <!-- footer starts here -->

    <div class="container-fluid border" style="padding: 0">
        <center>
            <h1>
                Ready to Start Planning?
            </h1>
            <h4>
                Subscribe to our Newsletter and get the latest travel news and packages right in your inbox!
            </h4>
            <div class="container mt-3 p-5">
                <div class="input-group mb-3">
                    <input type="text" class="form-control form-control-lg" placeholder="Search">
                    <div class="input-group-append">
                        <button class="btn btn-success" type="submit">SUBSCRIBE</button>
                    </div>
                </div>
            </div>
        </center>
        <div class="border" style="height: 12rem; ">
            <img src="">
        </div>
    </div>


    <footer class="page-footer font-small blue pt-4 pl-4 pr-4">
        <div class="container-fluid text-center text-md-left">
            <div class="row">
                <div class="col-md-3 mt-md-0 mt-3">
                    <h5 class="text-uppercase">Red Letter Holidats</h5>
                    <p>Unit No-12, Gold Souk Mall, 2nd Floor 1, 122002, Sushant Lok Phase I, Sector 43, Gurugram, Haryana </p>
                </div>
                <hr class="clearfix w-100 d-md-none pb-3">

                <div class="col-md-3 mb-md-0 mb-3">
                    <h5 class="text-uppercase">RedLetter</h5>
                    <ul class="list-unstyled">
                        <li>
                            <a href="#!">Contact Us</a>

                        </li>
                        <li>
                            <a href="#!">About Us</a>
                        </li>
                        <li>
                            <a href="#!">Link 0</a>
                        </li>
                        <li>
                            <a href="#!">Link 1</a>
                        </li>
                    </ul>
                </div>

                <div class="col-md-3 mb-md-0 mb-3">
                    <h5 class="text-uppercase">Links</h5>
                    <ul class="list-unstyled">
                        <li>
                            @Html.ActionLink("Europe", "PackagesByDest", "Home")
                        </li>
                        <li>
                            @Html.ActionLink("Japan", "PackagesByDest", "Home")
                        </li>
                        <li>
                            @Html.ActionLink("Australia", "PackagesByDest", "Home")
                        </li>
                        <li>
                            @Html.ActionLink("Nepal", "PackagesByDest", "Home")
                        </li>
                    </ul>
                </div>

                <div class="col-md-3 mb-md-0 mb-3">
                    <h5 class="text-uppercase">Customer Space</h5>
                    <ul class="list-unstyled">
                        <li>
                            <a href="#!">Helpdesk</a>
                        </li>
                        <li>
                            <a href="#!">Terms & Conditions</a>
                        </li>
                        <li>
                            <a href="#!">Legal</a>
                        </li>
                        <li>
                            <a href="#!">Privacy Policy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright text-center py-3" style="border-top: 0.1rem solid grey">
            © 2019 Copyright:
            <a href="#"> RedLetter Holidays Pvt Ltd</a>
        </div>
    </footer>

    <!-- footer ends here -->


    <!--The search box script-->
    <script>
        
        function autocomplete(arr) {
            //consol.log('autocomplete init');
            var inp = document.getElementById('allAuto');
            /*the autocomplete function takes two arguments,
            the text field element and an array of possible autocompleted values:*/
            var currentFocus;
            /*execute a function when someone writes in the text field:*/
            inp.addEventListener("input", function (e) {
                var a, b, i, val = this.value;
                /*close any already open lists of autocompleted values*/
                closeAllLists();
                if (!val) { return false; }
                currentFocus = -1;
                /*create a DIV element that will contain the items (values):*/
                a = document.createElement("DIV");
                a.setAttribute("id", this.id + "autocomplete-list");
                a.setAttribute("class", "autocomplete-items");
                /*append the DIV element as a child of the autocomplete container:*/
                this.parentNode.appendChild(a);
                /*for each item in the array...*/
                for (i = 0; i < arr.length; i++) {
                    /*check if the item starts with the same letters as the text field value:*/
                    if (arr[i].substr(0, val.length).toUpperCase() == val.toUpperCase()) {
                        /*create a DIV element for each matching element:*/
                        b = document.createElement("DIV");
                        /*make the matching letters bold:*/
                        b.innerHTML = "<strong>" + arr[i].substr(0, val.length) + "</strong>";
                        b.innerHTML += arr[i].substr(val.length);
                        /*insert a input field that will hold the current array item's value:*/
                        b.innerHTML += "<input type='hidden' value='" + arr[i] + "'>";
                        /*execute a function when someone clicks on the item value (DIV element):*/
                        b.addEventListener("click", function (e) {
                            /*insert the value for the autocomplete text field:*/
                            inp.value = this.getElementsByTagName("input")[0].value;
                            /*close the list of autocompleted values,
                            (or any other open lists of autocompleted values:*/
                            closeAllLists();
                        });
                        a.appendChild(b);
                    }
                }
            });
            /*execute a function presses a key on the keyboard:*/
            inp.addEventListener("keydown", function (e) {
                var x = document.getElementById(this.id + "autocomplete-list");
                if (x) x = x.getElementsByTagName("div");
                if (e.keyCode == 40) {
                    /*If the arrow DOWN key is pressed,
                    increase the currentFocus variable:*/
                    currentFocus++;
                    /*and and make the current item more visible:*/
                    addActive(x);
                } else if (e.keyCode == 38) { //up
                    /*If the arrow UP key is pressed,
                    decrease the currentFocus variable:*/
                    currentFocus--;
                    /*and and make the current item more visible:*/
                    addActive(x);
                } else if (e.keyCode == 13) {
                    /*If the ENTER key is pressed, prevent the form from being submitted,*/
                    e.preventDefault();
                    if (currentFocus > -1) {
                        /*and simulate a click on the "active" item:*/
                        if (x) x[currentFocus].click();
                    }
                }
            });
            function addActive(x) {
                /*a function to classify an item as "active":*/
                if (!x) return false;
                /*start by removing the "active" class on all items:*/
                removeActive(x);
                if (currentFocus >= x.length) currentFocus = 0;
                if (currentFocus < 0) currentFocus = (x.length - 1);
                /*add class "autocomplete-active":*/
                x[currentFocus].classList.add("autocomplete-active");
            }
            function removeActive(x) {
                /*a function to remove the "active" class from all autocomplete items:*/
                for (var i = 0; i < x.length; i++) {
                    x[i].classList.remove("autocomplete-active");
                }
            }
            function closeAllLists(elmnt) {
                /*close all autocomplete lists in the document,
                except the one passed as an argument:*/
                var x = document.getElementsByClassName("autocomplete-items");
                for (var i = 0; i < x.length; i++) {
                    if (elmnt != x[i] && elmnt != inp) {
                        x[i].parentNode.removeChild(x[i]);
                    }
                }
            }
            /*execute a function when someone clicks in the document:*/
            document.addEventListener("click", function (e) {
                closeAllLists(e.target);
            });
        }

        /*An array containing all the country names in the world:*/
        var countries = ["Afghanistan", "Albania", "Algeria", "Andorra", "Angola", "Anguilla", "Antigua & Barbuda", "Argentina", "Armenia", "Aruba", "Australia", "Austria", "Azerbaijan", "Bahamas", "Bahrain", "Bangladesh", "Barbados", "Belarus", "Belgium", "Belize", "Benin", "Bermuda", "Bhutan", "Bolivia", "Bosnia & Herzegovina", "Botswana", "Brazil", "British Virgin Islands", "Brunei", "Bulgaria", "Burkina Faso", "Burundi", "Cambodia", "Cameroon", "Canada", "Cape Verde", "Cayman Islands", "Central Arfrican Republic", "Chad", "Chile", "China", "Colombia", "Congo", "Cook Islands", "Costa Rica", "Cote D Ivoire", "Croatia", "Cuba", "Curacao", "Cyprus", "Czech Republic", "Denmark", "Djibouti", "Dominica", "Dominican Republic", "Ecuador", "Egypt", "El Salvador", "Equatorial Guinea", "Eritrea", "Estonia", "Ethiopia", "Falkland Islands", "Faroe Islands", "Fiji", "Finland", "France", "French Polynesia", "French West Indies", "Gabon", "Gambia", "Georgia", "Germany", "Ghana", "Gibraltar", "Greece", "Greenland", "Grenada", "Guam", "Guatemala", "Guernsey", "Guinea", "Guinea Bissau", "Guyana", "Haiti", "Honduras", "Hong Kong", "Hungary", "Iceland", "India", "Indonesia", "Iran", "Iraq", "Ireland", "Isle of Man", "Israel", "Italy", "Jamaica", "Japan", "Jersey", "Jordan", "Kazakhstan", "Kenya", "Kiribati", "Kosovo", "Kuwait", "Kyrgyzstan", "Laos", "Latvia", "Lebanon", "Lesotho", "Liberia", "Libya", "Liechtenstein", "Lithuania", "Luxembourg", "Macau", "Macedonia", "Madagascar", "Malawi", "Malaysia", "Maldives", "Mali", "Malta", "Marshall Islands", "Mauritania", "Mauritius", "Mexico", "Micronesia", "Moldova", "Monaco", "Mongolia", "Montenegro", "Montserrat", "Morocco", "Mozambique", "Myanmar", "Namibia", "Nauro", "Nepal", "Netherlands", "Netherlands Antilles", "New Caledonia", "New Zealand", "Nicaragua", "Niger", "Nigeria", "North Korea", "Norway", "Oman", "Pakistan", "Palau", "Palestine", "Panama", "Papua New Guinea", "Paraguay", "Peru", "Philippines", "Poland", "Portugal", "Puerto Rico", "Qatar", "Reunion", "Romania", "Russia", "Rwanda", "Saint Pierre & Miquelon", "Samoa", "San Marino", "Sao Tome and Principe", "Saudi Arabia", "Senegal", "Serbia", "Seychelles", "Sierra Leone", "Singapore", "Slovakia", "Slovenia", "Solomon Islands", "Somalia", "South Africa", "South Korea", "South Sudan", "Spain", "Sri Lanka", "St Kitts & Nevis", "St Lucia", "St Vincent", "Sudan", "Suriname", "Swaziland", "Sweden", "Switzerland", "Syria", "Taiwan", "Tajikistan", "Tanzania", "Thailand", "Timor L'Este", "Togo", "Tonga", "Trinidad & Tobago", "Tunisia", "Turkey", "Turkmenistan", "Turks & Caicos", "Tuvalu", "Uganda", "Ukraine", "United Arab Emirates", "United Kingdom", "United States of America", "Uruguay", "Uzbekistan", "Vanuatu", "Vatican City", "Venezuela", "Vietnam", "Virgin Islands (US)", "Yemen", "Zambia", "Zimbabwe"];

        /*initiate the autocomplete function on the "myInput" element, and pass along the countries array as possible autocomplete values:*/
        autocomplete(countries);
    </script>

</body>

</html>